@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    overflow-y: hidden;
    font-size: 10px;
    margin: 0;
    background: #000;
    font-family: "Open Sans";
}

html {
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555;
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#wrap>.wrap_af {
    content: "";
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 20;
}

/*오른쪽 버튼*/
#dot {
    width: 80px;
    height: 250px;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    right: 0px;
    transform: translatey(-50%);
    z-index: 100;
}

#dot>ul {
    width: 40px;
    height: 220px;
}

#dot li {
    width: 20px;
    height: 20px;
    position: relative;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    box-shadow: -0px 0px 5px rgba(255, 255, 255, 0.1);
}

#dot li a {
    background: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50%;
    background-color: #fff;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    position: absolute;
}

#dot ul .active {
    box-shadow: 0 0 0 2px #0cdaff;
}

#dot ul li:nth-of-type(2).active {
    box-shadow: 0 0 0 2px #0189ff;
}

#dot ul li:nth-of-type(3).active {
    box-shadow: 0 0 0 2px #f0a91b;
}

#dot ul li:nth-of-type(4).active {
    box-shadow: 0 0 0 2px #fff;
}

#dot ul li:nth-of-type(5).active {
    box-shadow: 0 0 0 2px #d6130f;
}

#dot ul li:nth-of-type(6).active {
    box-shadow: 0 0 0 2px #a0ef08;
}

#dot ul li:nth-of-type(7).active {
    box-shadow: 0 0 0 2px #9517ff;
}

.active a {
    transform: scale(0.4);
}

#dot li:hover {
    opacity: 1;
    cursor: pointer;
}

section {
    width: 100%;
    height: 100%;
    position: relative;
}

/*페이지*/
.page {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
}

/*p0*/
#particles-js {
    width: 100%;
    height: 100%;
    position: relative;
    background: #111;
    display: table;
}


/*바탕 포인트 컬러*/
.background {
    width: px;
    height: px;
    position: absolute;
    top: 10%;
}

section .page:not(:nth-of-type(2n)) .con_wrap .background {
    left: 0;
}

section .page:nth-of-type(2n) .con_wrap .background {
    right: 0
}


/*pf_bot*/
.pf_bot {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    position: relative;
}

/* zdog */
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

canvas {
    display: block;
    margin: 0 auto;
    cursor: move;

}

.illo {
    width: 560px;
    top: -24px;
}

h1 {
    margin-top: 454px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 10rem;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
}

h1 .one {
    font-size: 100px;
}

h1 .PO {
    margin-top: -55px;
    font-size: 90px;
}

.HA {
    font-size: 29px;
    margin-top: 37px;
}

a {
    font-family: 'Teko', sans-serif;
    color: #4db1bc;
    grid-column: 1;
    grid-row: 1;
    align-self: end;
    justify-self: center;
    padding-bottom: 1rem;
}

body {
    background-color: #212121;
    color: #4db1bc;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}

@keyframes glow {
    from {
        text-shadow: 0 0 20px #2d9da9;
    }

    to {
        text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
}

#p1 {
    position: relative;
    background-color: rgb(255 248 253);
}

#p2 {
    position: relative;
    background: #c1e9ca;
}

#p3 {
    position: relative;
    background: #f1f0ee;
}

#p4 {
    position: relative;
    background: #e1deda;
}

.text_left {
    float: left;
    width: 20%;
    height: 100%;
    padding-left: 20px;
    position: relative;
}

.portfolio_text {
    background-color: #ffced8;

}

.portfolio_text2 {
    background-color: #afffc1;
}

.portfolio_text3 {
    background-color: gainsboro;
}

.portfolio_text4 {
    background-color: #d2cabf;
}

.photo_right {
    float: right;
    width: 80%;
    height: 100%;
    position: relative;
    padding-right: 150px;
}


.portfolio_photo {
    width: 85%;
    height: 77%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px 50px 10px 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 0 20px 4px #676767;
    /* background-color: red; */
    /* display: flex; */
}

.portfolio_photo img {
    width: 100%;
}

.text_left hr {
    width: 9px;
    height: 101px;
    border: none;
    position: absolute;
    left: 184px;
}

.portfolio_text hr {
    background-color: #c2271f;
}

.portfolio_text2 hr {
    background-color: #33a84f;
}

.portfolio_text3 hr {
    background-color: #9a9a9a;
}

.portfolio_text4 hr {
    background-color: #93897d;
}

.PF {
    font-size: 80px;
    color: black;
    width: 80px;
    height: 100px;
    font-weight: bold;
    position: absolute;
    margin-top: 107px;
    margin-left: 121px;
}

#PFF {
    margin-top: 249px;
    position: absolute;
    margin-left: 22px;
    color: black;
}

#PFF h3 {
    font-size: 23px;
    font-weight: normal;
}

#PFF h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.color span {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: inline-block;
    margin-right: 3px;
}

/* 첫번째 컬러표 */
#p1 .color span:nth-of-type(1) {
    background-color: rgb(157 7 0);
}

#p1 .color span:nth-of-type(2) {
    background-color: #ffecee;
}

#p1 .color span:nth-of-type(3) {
    display: none;
}

/* 두번째 컬러표 */
#p2 .color span:nth-of-type(1) {
    background-color: rgb(51 168 79);
}

#p2 .color span:nth-of-type(2) {
    background-color: #fdcf34;
}

#p2 .color span:nth-of-type(3) {
    display: none;
}

/* 세번째 컬러표 */
#p3 .color span:nth-of-type(1) {
    background-color: #f0efed;
}

#p3 .color span:nth-of-type(2) {
    background-color: #cb3d4a;
}

#p3 .color span:nth-of-type(3) {
    display: none;
}

/* 네번째 컬러표 */
#p4 .color span:nth-of-type(1) {
    background-color: rgb(213 41 39);
}

#p4 .color span:nth-of-type(2) {
    background-color: #63666a;
}

#p4 .color span:nth-of-type(3) {
    background-color: #c1c1c1;
}

#p1 p {
    font-size: 14px;
}

#p2 p {
    font-size: 14px;
    margin-left: -23px;
}

#p3 p {
    font-size: 14px;
}

#p4 p {
    font-size: 14px;
    margin-left: -20px;
}

.text_left button {
    width: 77px;
    height: 33px;
    font-size: 21px;
    border-radius: 7px;
    border: 1px;
    color: white;
    margin-top: 35px;
    margin-left: 15px;
    cursor: pointer;
}

#p4 button{
    background-color: #817166;
}

#p4 .BTN{
    color: black;
    background-color: white;
    border: 2px solid #817166;
}

#p2 button{
    background-color: #33a84f;
}

#p2 .BTN{
    color: black;
    background-color: white;
    border: 2px solid #33a84f;
}

#p3 button{
    background-color: #978170;
}

#p3 .BTN{
    color: black;
    background-color: white;
    border: 2px solid #978170;
}

#p4 button{
    background-color: #817166;;
}

#p4 .BTN{
    color: black;
    background-color: white;
    border: 2px solid #817166;;
}

#p1 button{
    background-color: #c2271f;
}

#p1 .BTN{
    color: black;
    background-color: white;
    border: 2px solid #c2271f;
}

.mobile_right{
    width: 230px;
    height: 450px;
    position: absolute;
    /* bottom: 8%;
    right: 4%; */
    bottom: 1%;
    right: 4%;
    overflow: hidden;
}
.mobile_photo{
    width: 100%;
    height: 100%;
}
.mobile img {
    width: 230px;
    position: absolute;
    z-index: 5;
    /* bottom: 1%;
    right: 4%; */
    top:0;
    left: 0;
}

.mobile_photo .img2{
    width: 98%;
    height: 90%;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;
}

.mobile_photo .img2 img {
    position: absolute;
    top: 59px;
    left: 20px;
    width: 192px;
    z-index: 1;
}

#About_me {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(226, 226, 226);
}

.About_mebox{
    width: 75%;
    height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    box-shadow: 10px 10px 20px 5px gray;
    padding: 2% 4%;
    border-radius: 40px 200px;
}

.About_mebox .title {
    height: 12%;
}

.About_mebox .title h2 {
    font-size: 30px;
    color: black;
    float: left;
}

.About_mebox .sub_title h3 {
    font-weight: normal;
    font-size: 20px;
    color: black;
    float: left;
    
}

.About_mebox .photo {
    width: 30%;
    height: 100%;
    float: left;
    position: relative;
}

.About_mebox .text {
    width: 70%;
    height: 100%;
    float: right;
    padding-left: 30px;
    color: black;
    position: relative;
}
.About_mebox .text h2{
    color: black;
    font-size: 30px;
    margin: -4px 0px;
}
.About_mebox .text h4 {
    font-size: 20px;
    font-weight: normal;
    margin: 15px 0;
    color: black;
    line-height: 2;
}

.About_mebox .text p {
    font-size: 20px;
    line-height: 32px;
    color: black;
    margin: 48px 0;
}
.About_mebox .text table{
    display: inline;
}
.About_mebox .text table th {
    width: 100px;
    vertical-align: top;
    color: black;
    font-size: 17px;
}


.About_mebox .text table td {
    vertical-align: top;
    color: black;
    font-size: 14px;
}